<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="buildmonkey" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.6.3.v20170301-0400" />
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.300.v20161122-1740" />
<repository location="http://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/releases/neon/"/>
</location>
</locations>
</target>
