<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="buildmonkey" sequenceNumber="1">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.105.0.v20160402-1532"/>
			<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.200.v20160606-1342"/>
			<repository location="http://ftp-stud.fht-esslingen.de/pub/Mirrors/eclipse/eclipse/updates/4.6/R-4.6-201606061100/"/>
		</location>
	</locations>
</target>